#skills {
  .container_text_technologies p {
    font-family: Oak Bold;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.1px;
    line-height: 19.992px;
    margin: 23.38px 0px 0px;
    text-align: center;
  }
}
